 @media (max-width: 768px) {
    
      #topBar {
        flex-direction: column;
        align-items: stretch; 
        position: sticky;
          top: 0;
          z-index: 1000;
        backdrop-filter: blur(10px);
      }
    
      
      #tabs {
        display: flex;
        gap: 8px;
        flex-wrap: wrap; /* important mobile */
      }
      
      #tabs button {
        border: none;
        background: var(--card);
        padding: 8px 14px;
        border-radius: 8px;
        cursor: pointer;
        color: var(--text);
        font-weight: 500;
        transition: 0.2s;
      }
      
      #tabs button:hover {
        background: rgba(0,0,0,0.1);
      }
      
      #tabs button.activeTab {
        background: var(--primary);
        color: white;
      }

      
      #mainHeader {
        position: sticky;
        top: 50px; 
        z-index: 999;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
      }
    
    }
    
    
    #rightControls {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    
    #rightControls button {
      background: transparent;
      border: 1px solid rgba(0,0,0,0.2);
      padding: 6px 10px;
      border-radius: 6px;
      cursor: pointer;
      color: var(--text);
    }
    
    #rightControls button:hover {
      background: rgba(0,0,0,0.05);
    }

    
    #userInfo {
      font-size: 14px;
      margin-right: 5px;
      opacity: 0.85;
    }
     #helperMessage {
      text-align: center;
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: 500;
      opacity: 0.9;
    }

/* ===== DARK BUTTON ===== */
    #themeToggle {
      border: none;
      padding: 6px 12px;
      border-radius: 20px;
      cursor: pointer;
      background: var(--card);
      border: 1px solid rgba(0,0,0,0.1);
    }

    #themeToggle:hover {
      background: var(--primary);
      color: white;
    }
