 /* ===== THEME ===== */
    :root{
      --bg: #f5f7fb;
      --text: #333;
      --card: white;
      --primary: #007BFF;
    }

body[data-theme="dark"] {
      --bg: #121212;
      --text: #e0e0e0;
      --card: #1e1e1e;
      --primary: #4dabf7;
    }

    body {
      margin: 0;
      font-family: 'Segoe UI', Arial, sans-serif;
      background: var(--bg);
      color: var(--text);
    }
